@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}
.section-card::-webkit-scrollbar{
    display: none;
    
}
header{
    margin-top: 50px;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.retour{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 0.3em;
}

.retour>a{
    text-decoration: none;
    color: black;
    font-family: 'Arial', Courier, monospace;
}
main>h1{
    font-weight: bolder;
}
main>p{
    color: rgb(137, 130, 130);
}
section>h4{
    text-align: center;
    font-weight: bolder;
}
.box{
    border: 1px solid rgba(0, 0, 0, 0.244);
    width: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.box>p{
    text-align: center;
}

.titre-section{
    text-align: center;
    font-weight: bold;
}
.box>a{
    width: 80%;
}
.button{
    width: auto;
    background-color: rgb(255, 101, 49);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    font-weight: bold;
}
.button>a{
        color: black;
        text-decoration: none;
        transition: 0.3s;


}
.button>a:hover{
    color: white;}

.button:hover{
    background: linear-gradient(to right, rgb(255, 157, 0), red);
    cursor: pointer;
    color: rgb(236, 255, 197);
}
.one{
    background:linear-gradient(to top, #f0f0f0, #ffff);
    
}


